html {
	background: #fff;
}

body {
	font-family: 'proxima-nova', 'Open Sans', Arial, sans-serif;
	color: #282828;
	font-weight: 400;
}

.opensansy main {
	font-family: 'proxima-nova', 'Open Sans', sans-serif;
}

.desktop-header {
	background: #fff;
	border-bottom: 1px solid #981e32;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.progress {
	background: #f1f1f1;
	height: 100%;
	left: 0;
	position: absolute;
	z-index: -1;
}

.desktop-header nav {
	margin: 0 auto;
	max-width: 1584px;
	overflow: auto;
	position: relative;
}

.site-menu {
	list-style: none;
	padding: 0;
}

nav .site-menu {
	align-items: center;
	display: flex;
	float: right;
	height: 50px;
}

.site-menu li {
	letter-spacing: 1px;
}

nav .site-menu li {
	float: left;
	line-height: 1;
	padding: 0 1rem;
}

nav .site-menu li + li {
	border-left: 1px solid #999;
}

nav .site-menu a {
	color: #a6a6a6;
}

nav .site-menu .dogeared a {
	color: #981e32;
}

/* Top section */
#top.panel {
	box-shadow: none;
}

#top.panel.current {
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
}

#jacket #binder #top section {
	max-width: none;
	overflow: hidden;
	width: 100%;
}

#jacket #top .column {
	float: none;
	margin: 0 auto;
}

#top .one {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1188px;
	padding-top: 10rem;
	width: 100%;
}

#shield-mark {
	position: absolute;
	top: 2rem;
	width: 5rem;
}

#shield-mark path {
	fill: #9c9c9c;
}

#spirit-mark {
	position: absolute;
	top: 2rem;
	width: 8rem;
}

#top .image {
	background-size: cover;
	height: 120%;
	left: -10%;
	position: absolute;
	top: -10%;
	width: 120%;
	z-index: -1;
}

#top h1 {
	font-family: "proxima-nova", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 8rem;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 0.9;
	text-transform: uppercase;
}

#top h1:first-line {
	color: #919191;
}

#top p {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.25em;
	letter-spacing: 2px;
	padding: 6em 0 1.5em .25em;
	text-transform: uppercase;
}

#top .site-menu li {
	font-size: 1.2em;
	font-weight: 400;
	padding: .35em;
}

#top .site-menu a {
	color: #fff;
	display: inline-block;
	padding: 0.2em 0.5em;
	transition: background .4s, color .4s;
}

#top .site-menu a:hover {
	background-color: #E7E7E7;
	color: #981e32;
}

/* Headings and typography */
section > header {
	padding: 2rem 2rem 0;
}

.column > header {
	padding-bottom: 2rem;
}

h2,
h3 {
	color: #981e32;
	font-family: "proxima-nova", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h2 {
	font-size: 3.5em;
	font-weight: 300;
	letter-spacing: 2px;
}

.white-text h2 {
	color: #fff;
}

#feedback h2,
h3 {
	color: #981e32;
	font-size: 2.75em;
	font-weight: 900;
	letter-spacing: normal;
	text-transform: uppercase;
}

#feedback h2 {
	color: #d7dadb;
}

p,
li {
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 1.7;
}

/* Doormat.js */
.hentry {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

.section-wrapper {
	left: 0;
	max-width: none;
	width: 100%;
}

.panel {
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	top: 0;
	visibility: hidden;
}

.panel section {
	box-sizing: border-box;
	margin: 0 auto;
	min-height: 100vh;
	padding-top: 50px;
}

.logged-in .panel section {
	padding-top: 82px;
}

.signature {
	background-image: url('./images/schulzkirk-sig.jpg');
	background-size: auto;
	background-repeat: no-repeat;
	padding: 60px 0 0;
	margin: 2.5em 0 1.5em;
	background-position: 0 top;
	font-weight: 700;
}

/* Stories */
#stories section {
	padding-top: 10rem;
}
#stories .column {
	width: 50%;
}

#stories .one,
#stories .three {
	padding-left: 2rem;
	padding-right: 1rem;
}

#stories .three {
	clear: left;
}

#stories .two,
#stories .four {
	padding-left: 1rem;
	padding-right: 2rem;
}

.mobile-image {
	display: none;
}

/* Comment form */
#comments a {
	color: rgba(128,128,128,0.6);
}

#comments a:hover {
	color: #fff;
}

.drive-comment-form {
	margin-bottom: 0;
	padding: 0;
}

.drive-comment-form .comment-form-author,
.drive-comment-form .comment-form-email {
	padding: 0 0 1em 0;
	width: 100%;
}

.drive-comment-form label,
.drive-comment-form #submit {
	font-size: 1em;
	font-weight: 600;
}

.drive-comment-form input,
.drive-comment-form textarea {
	background: none;
	border-radius: 0;
	border: 1px solid #b5babe;
	color: #b5babe;
	font: 14px/22px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	padding: 0.75rem;
	width: 100%;
}

.opensansy .drive-comment-form input,
.opensansy .drive-comment-form textarea {
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.drive-comment-form input:focus,
.drive-comment-form textarea:focus {
	border-color: #fff;
	box-shadow: none;
	color: #b5babe;
}

.drive-comment-form textarea {
	display: block;
	height: 150px;
	resize: none;
}

.drive-comment-form #submit {
	background: #981e32;
	border: 0;
	box-shadow: 0 3px 10px 2px rgba(0,0,0,0.2);
	color: #fff;
	padding: 1rem 2.5rem;
	transition: background .4s;
	width: auto;
}

.drive-comment-form input#submit:hover,
.drive-comment-form input#submit:active {
	background: #c60c30;
}

.comment-success {
	display: none;
}

/* Footer */
#footer {
	bottom: 0;
	height: auto !important;
	min-height: 0 !important;
	top: auto;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.processing-indicator {
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	border: 0.25rem solid rgba(255,255,255,0.5);
	border-radius: 50%;
	border-top-color: #981e32;
	height: 2rem;
	margin: 0 auto;
	width: 2rem;
}

/* Comments list */
.comment-list {
	padding: 0;
}

.comment-list li {
	line-height: 1.6;
	list-style: none;
	padding-top: 1rem;
}

.comment-list article {
	overflow: auto;
}

.comment-list article footer {
	border-top: 0;
	margin: 0;
	top: 0;
}

.comment-author img {
	box-sizing: border-box;
	float: left;
	padding-right: 1rem;
}

.says,
.reply,
.comment-remainder {
	display: none;
}

.comment-content p:last-of-type {
	padding-bottom: 0;
}

@media only screen and (min-width: 694px) {
	#jacket #binder main {
		margin-top: 0;
	}
	#spine {
		display: none;
	}
}

@media only screen and (max-width: 693px) {
	.desktop-header {
		display: none;
	}

	#top h1 {
		font-size: 16vw;
	}

	#top p {
		font-size: 0.9em;
	}

	#top .site-menu li {
		font-size: 0.8em;
	}

	#stories .column {
		padding-left: 2rem;
		padding-right: 2rem;
		width: 100%;
	}

	.story {
		display: flex;
		flex-wrap: wrap;
	}

	.story .excerpt,
	.excerpt h2 {
		order: 1;
		padding-top: 0;
	}

	.story .three,
	.story .four,
	.standard-image {
		display: none;
	}

	.mobile-image {
		display: block;
	}
}
