html {
	background: #fff;
}

.desktop-header {
	background: #fff;
	border-bottom: 1px solid #981e32;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.desktop-header > div {
	margin: 0 auto;
	max-width: 1584px;
	overflow: auto;
	position: relative;
}

.progress {
	background: #f1f1f1;
	height: 100%;
	left: 0;
	position: absolute;
	z-index: -1;
}

.site-menu {
	align-items: center;
	display: flex;
	float: right;
	height: 50px;
	list-style: none;
	padding: 0;
}

.site-menu li {
	float: left;
	letter-spacing: 1px;
	padding: 0 1rem;
}

.site-menu li + li {
	border-left: 1px solid #999;
}

.site-menu a {
	color: #a6a6a6;
}

/* Top section */
#jacket #binder #top {
	max-width: none;
	overflow: hidden;
	z-index: 2;
}

#jacket #top .column {
	float: none;
	margin: 0 auto;
}

#top .one {
	height: 100vh;
	max-width: 1188px;
	width: 100%;
}

.logged-in #top .one {
	height: calc(100vh - 32px);
}

#top .image {
	background-size: cover;
	height: 120%;
	left: -10%;
	position: absolute;
	top: -10%;
	width: 120%;
	z-index: -1;
}

@media only screen and (min-width: 694px) {
	#jacket #binder main {
		margin-top: 0;
	}
	#spine {
		display: none;
	}
}

@media only screen and (max-width: 693px) {
	.desktop-header {
		display: none;
	}
}
